:root {
  /* indigo-500 */
  --color-primary: #6366F1; 
  /* yellow-400 */
  --color-secondary: #FACC15;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply bg-primary hover:bg-opacity-80 
    text-white font-semibold p-2 px-4 rounded-md shadow 
    hover:shadow-md outline-none focus:outline-none;
}